.navbar{
    /* position: fixed;
    left: 0;
    top: 0; */
    width: 100%;
    height: 70px;
    background-color: #5e2a8f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: aliceblue;
}

.appName{
    color: #fcf8ff;
    font-weight: 600;
}